
body{

    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;    

}

table{

    margin-top: 10px;

}

td img{

    filter: invert(70%);

}

table label {

    color: black;
    font-weight: bolder;
    font-size: 20px;

}

.botao{

    font-size: 20px;
    background-color:black ;

}
















